@media only screen and (min-width: 651px) {
  .project-card {
    width: 48%;
  }
  nav > ul {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
  }
  nav > ul > li:last-child {
    text-align: right;
  }
}
@media only screen and (min-width: 981px) {
  .project-card {
    width: 30%;
  }
}
